CompileFlags:
  Compiler: toolchain/bin/arm-none-eabi-g++
  BuiltinHeaders: QueryDriver
Diagnostics:
  Suppress: [non_asm_stmt_in_naked_function, -Wunknown-attributes]
  ClangTidy:
    Add: [
      clang-diagnostic-*,
      clang-analyzer-*,
      cppcoreguidelines-*,
      bugprone-*,
      modernize-*,
      readability-*,
      google-*,
      misc-*,
      performance-*
    ]
    Remove: [
      performance-enum-size,                  # Size gain is very minimal
      google-readability-todo,                # I don't want to have to write authors at every TODO >:(
      misc-misplaced-const,                   # Sometimes thinks `int const *` is the same as `int * const`
      misc-use-anonymous-namespace,           # I prefer static over anonymous namespaces
      readability-redundant-inline-specifier  # Not always redundant for GCC
    ]
    FastCheckFilter: None
Hover:
  ShowAKA: true
InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: true
  ParameterNames: false
  DeducedTypes: true
  DefaultArguments: true
  TypeNameLimit: 24
Documentation:
  CommentFormat: Doxygen
---
CompileFlags:
  Add: [
    -isystem,
    /workspaces/tsri/examples/toolchain/arm-none-eabi/include/c++/14.3.1,
    -isystem,
    /workspaces/tsri/examples/toolchain/arm-none-eabi/include/c++/14.3.1/arm-none-eabi,
    -isystem,
    /workspaces/tsri/examples/toolchain/arm-none-eabi/include/c++/14.3.1/backward,
    -isystem,
    /workspaces/tsri/examples/toolchain/lib/gcc/arm-none-eabi/14.3.1/include,
    -isystem,
    /workspaces/tsri/examples/toolchain/lib/gcc/arm-none-eabi/14.3.1/include-fixed,
    -isystem,
    /workspaces/tsri/examples/toolchain/arm-none-eabi/include,
    -std=c++2c,
    -mthumb,
    -Weverything,
    -Wno-c++98-compat,
    -Wno-c++98-compat-pedantic,
    -Wno-c++20-compat,
    -Wno-missing-prototypes
  ]
---
If:
  PathMatch: .*/codegen/.*
Index:
  Background: Skip
---
If:
  PathMatch: .*/install/.*
Index:
  Background: Skip
---
If:
  PathMatch: .*/examples/rp2040/.*
CompileFlags:
  CompilationDatabase: build/
  Add: [
  ]