enum class {{ field.name|lower }}value_t
{
{% for values in field.enumerated_values %}
    {% for value in values.enumerated_values %}
    {% if value.name[0].isdigit() %}
    _{{ value.name|lower }} = {{ value.value }},
    {% else %}
    {{ value.name|lower }} = {{ value.value }},
    {% endif %}
{% endfor %}
{% endfor %}
};